<div class="container-fluid primary-header app-header">
  <div class="row">
    <div class="header-block primary-header" >
      <a class="app-logo">
        <img src="assets/img/logo.png">
      </a>
      <div class="app-header-top">
        <a class="sidebar-toggle">
          <i class="material-icons">menu</i>
        </a>
        <div class="navbar-menu pull-right">
          <ul class="nav-top">
            <li class="dropdown notification-menu">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="not-head">You have
                  <b class="text-primary">4</b> new notifications.</li>
                <li class="bell-notification">
                  <a href="javascript:;" class="media">
                    <span class="media-left media-icon">
                      <img class="img-circle" src="assets/img/avatar-1.png" alt="User Image">
                    </span>
                    <div class="media-body">
                      <span class="block">Lisa sent you a mail</span>
                      <span class="text-muted block-time">2min ago</span>
                    </div>
                  </a>
                </li>
                <li class="bell-notification">
                  <a href="javascript:;" class="media">
                    <span class="media-left media-icon">
                      <img class="img-circle" src="assets/img/avatar-1.png" alt="User Image">
                    </span>
                    <div class="media-body">
                      <span class="block">Lisa sent you a mail</span>
                      <span class="text-muted block-time">2min ago</span>
                    </div>
                  </a>
                </li>
                <li class="bell-notification">
                  <a href="javascript:;" class="media">
                    <span class="media-left media-icon">
                      <img class="img-circle" src="assets/img/avatar-1.png" alt="User Image">
                    </span>
                    <div class="media-body">
                      <span class="block">Lisa sent you a mail</span>
                      <span class="text-muted block-time">2min ago</span>
                    </div>
                  </a>
                </li>
                <li class="bell-notification">
                  <a href="javascript:;" class="media">
                    <span class="media-left media-icon">
                      <img class="img-circle" src="assets/img/avatar-1.png" alt="User Image">
                    </span>
                    <div class="media-body">
                      <span class="block">Lisa sent you a mail</span>
                      <span class="text-muted block-time">2min ago</span>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown notification-menu">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa  fa-envelope-open-o"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="not-head">You have
                  <b class="text-primary">4</b> new notifications.</li>
                <li class="bell-notification">
                  <a href="javascript:;" class="media">
                    <span class="media-left media-icon">
                      <img class="img-circle" src="assets/img/avatar-1.png" alt="User Image">
                    </span>
                    <div class="media-body">
                      <span class="block">Lisa sent you a mail</span>
                      <span class="text-muted block-time">2min ago</span>
                    </div>
                  </a>
                </li>
                <li class="bell-notification">
                  <a href="javascript:;" class="media">
                    <span class="media-left media-icon">
                      <img class="img-circle" src="assets/img/avatar-1.png" alt="User Image">
                    </span>
                    <div class="media-body">
                      <span class="block">Lisa sent you a mail</span>
                      <span class="text-muted block-time">2min ago</span>
                    </div>
                  </a>
                </li>
                <li class="bell-notification">
                  <a href="javascript:;" class="media">
                    <span class="media-left media-icon">
                      <img class="img-circle" src="assets/img/avatar-1.png" alt="User Image">
                    </span>
                    <div class="media-body">
                      <span class="block">Lisa sent you a mail</span>
                      <span class="text-muted block-time">2min ago</span>
                    </div>
                  </a>
                </li>
                <li class="bell-notification">
                  <a href="javascript:;" class="media">
                    <span class="media-left media-icon">
                      <img class="img-circle" src="assets/img/avatar-1.png" alt="User Image">
                    </span>
                    <div class="media-body">
                      <span class="block">Lisa sent you a mail</span>
                      <span class="text-muted block-time">2min ago</span>
                    </div>
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-arrows-alt"></i>
              </a>

            </li>
            <li class="dropdown">
              <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                <span>
                  <img class="img-circle " src="assets/img/avatar-1.png" style="width:40px;" alt="User Image">
                </span>
                <span>John
                  <b>Doe</b>
                  <i class=" icofont icofont-simple-down"></i>
                </span>
              </a>
              <ul class="dropdown-menu settings-menu">
                <li>
                  <a href="#!">
                    <i class="fa fa-cog"></i> Settings</a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-user"></i> Profile</a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-envelope-o"></i> My Messages</a>
                </li>
                <li class="p-0">
                  <div class="dropdown-divider m-0"></div>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-lock"></i> Lock Screen</a>
                </li>
                <li>
                  <a href="login1.html">
                    <i class="icon-logout"></i> Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
