.primary-header{
    background-color: #39444e;
}
.app-header{
    min-height: 50px;
    max-height: 50px;
    z-index: 1030;
}
.header-block{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index:999;
}
.app-header .app-logo{
    display: block;
    width: 230px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    padding: 0 15px;
    float: left;
    overflow: hidden;
}
.app-header .app-logo img{
    max-width: 100%;
    height: auto;
}
.app-header-top{
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    max-height: 50px;
    border-radius: 0;
    padding: 0;
    background-color: #39444e;
}

.app-header-top .sidebar-toggle{
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px;
    font-family: fontAwesome;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-height: 50px;
    color: #fff;
    opacity: 0.9;
}

.nav-top{
    list-style: none;
    padding-left: 0;
    display: inline-block;
    float: right;
    margin: 0 10px 0 0;
}
.nav-top li{
    display: inline-block;
    position: relative;
}
.nav-top li a{
    opacity: 0.9;
    color: #fff;
    padding: 15px 20px;
    line-height: 32px;
    cursor: pointer;
}

 

 
.nav-top .dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    border: 0;
    padding: 0;
    min-width: 230px;
}

.open>.dropdown-menu {
    -webkit-animation: scaleDrop 0.3s both;
    -moz-animation: scaleDrop 0.3s both;
    -ms-animation: scaleDrop 0.3s both;
    animation: scaleDrop 0.3s both;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
 .nav-top .notification-menu .dropdown-menu {
    min-width: 300px;
}
.nav-top .notification-menu .not-head {
    padding: 8px 20px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}

 .nav-top .notification-menu a {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 8px 12px;
    
}
.nav-top .dropdown-menu li a{
    line-height: 25px;
}

.media-left {
    padding-right: 10px;
}
.bell-notification img {
    width: 40px;
}
.media-body {
    width: 10000px;
}

.top-nav .notification-menu .media .block:not(.text-muted) {
    font-weight: 500;
}
 
.bell-notification .block {
    color: #777;
}

 
.block {
    display: block;
}
.bell-notification .block-time {
    font-size: 12px;
}

.settings-menu li {
    padding: 7px 20px;
}

.settings-menu li{
    width: 100%;
}
.nav-top .settings-menu li a {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    color: #666;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}
.dropdown-menu li a {
    position: relative;
    padding: 8px 0px;
}
.settings-menu li a i {
    font-size: 14px;
    margin-right: 10px;
}